<!DOCTYPE html>
<html lang="en" class="no-js">
    <head>
        
        <title>iGrader</title>
        
        <link rel="stylesheet" type="text/css" href="../css/bootstrap.css" />
        <link rel="stylesheet" type="text/css" href="../css/demo.css" />
        <link href="../css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" type="text/css" href="../css/style2.css" />
        
    </head>
    <body>
        <div class="adjust_container">
            <header class="codrops-header">
                <h1>Home</h1>
            </header>

            <section class="container">
                <div class="col-lg-offset-1 col-lg-6 margin_bottom_15">                 
            <select class="form-control" id="dropdownCourse" name="dropdownCourse">
                <option id="0" value="select">Select Course</option>                        
            </select>
        </div>  

        <div class="col-lg-offset-1 col-lg-6 margin_bottom_15">          
            <select class="form-control" id="dropdownStudent" name="dropdownStudent">
                <option id="" class="" value="select">Select Student</option>                        
            </select>
        </div> 

        <div class="col-lg-offset-1 row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i>Information Area</h3>
                    </div>
                    <div class="panel-body">                        
                        <div id="user_information" class="col-lg-6">
                            <div class="form-group has-success has-feedback">
                                <label class="control-label col-sm-3" for="inputGroupSuccess2">Homework</label>
                                <div class="col-sm-9">
                                    <div class="input-group">                                        
                                        <input type="text" class="form-control" id="inputGroupSuccess2" aria-describedby="inputGroupSuccess2Status">
                                    </div>
                                    <span class="input-group-addon">@</span>                                    
                                </div>
                            </div>                        
                    </div>
                </div>
            </div>


            </section>
            <nav id="bt-menu" class="bt-menu">
                <a href="#" class="bt-menu-trigger"><span>Menu</span></a>
                <ul>
                    <li><a href="#"><i class="fa fa-home"></i></a>Home</li>
                    <li><a href="#"><i class="fa fa-pencil"></i></a>Grade</li>
                    <li><a href="#"><i class="fa fa-wrench"></i></a>Setting</li>
                    <li><a href="#"><i class="fa fa-mobile"></i></a>Contact Us</li>                 
                </ul>
            </nav>
        </div><!-- /container -->
    </body>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="../js/bootstrap.js"></script>      
    <script src="../js/classie.js"></script>
    <script src="../js/borderMenu.js"></script> 

  </script>
</html>